.error{
    color:red;
}
.error::before{
    content:'*';
}
input, select{
    width:300px;
    height: 50px;
    padding: 0 5px;
    border: none;
    border-radius: 7px;
    outline: none;
    box-shadow: 3px 3px 15px lightgrey;
    transition: 0.5s;
}
input:focus, select:focus{
    transform:scale(1.05);
}
.background{
    position: fixed !important;
    z-index: -11;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../../background.jpg');
    background-attachment: fixed;
    background-position: center center;
}